  .main{
    height: 100vh;
    width: 100vw;
    .maps{
      height: 70%; 
      width: 60%;
      float: right;
      margin:80px 50px 10px 50px ;
      position: relative;

      #map { 
        height: 100%;
        width: 100%;
        color: white;
        position: absolute;
      } 
      .search_m{
        height: 100px;
        width: 300px;
        // background-color: gray;
        position: absolute;
        top: 30px;
        left: 300px;
        input#place{
          height: 30px;
          width: 200px;
          margin-left: 25px;
          border: solid 2px gray;
        }
        .btn{
          height: 30px;
          width: 30px;
          margin-top: 30px;
          i{
            
          }
        }

      }
    }
  

    
    .left_menu{
      float: left;
      height: 550px;
      width: 280px;
      margin: 80px 95px 50px;
      background-color: white;
      overflow: scroll;
    }
      a{
      display: block;
      min-height: 48px;
      padding: 16px;
      background: #fff;
      font-size: 14px;
      color: #333;
      border: solid 1px gray;
      cursor: pointer;
     
    }
  }

 