<!DOCTYPE html>
<html lang="ja">

<body>
  <div class ="main">
    <div class ="maps">
      <div id="map"></div>
      <div class ="search_m">
        <input type ="text" placeholder = "検索" value = "" id = "place">
        <button type ="button" onclick ="search()" class ="btn"></button>
        <span>緯度：</span><span id=“ido”></span><br />
        <span>経度：</span><span id=“keido”></span>
      </div>
     </div>
     <%= javascript_include_tag "application.js" %>
    <div class="left_menu">
      <a>未来屋書店</a>
      <a>宮脇書店</a>
      <a>くまざわ書店</a>
      <a>文教堂書店</a>
      <a>ジュンク堂書店</a>
      <a>三洋堂書店</a>
      <a>明屋書店</a>
      <a>明林堂書店</a>
      <a>リブロ</a>
      <a>紀伊国書店</a>
      <a>トップカルチャー</a>
      <a>アミーゴ書店</a>
    </div>
  </div>

 


</body>
</html>