<!DOCTYPE html>
<html lang="ja">

<head>

<meta charset="UTF-8">
<title>Sample_GoogleMap</title>



</head>

<body>
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyA6NIcSBd-Ryo881Rp2Zjnv6pvDNwe9gmk&language=ja"></script>
  <div class ="maps">
    <div id="map"></div>
    <div class="left_menu">
      <a>未来屋書店</a>
      <a>宮脇書店</a>
      <a>くまざわ書店</a>
      <a>文教堂書店</a>
      <a>ジュンク堂書店</a>
      <a>三洋堂書店</a>
      <a>明屋書店</a>
      <a>明林堂書店</a>
      <a>リブロ</a>
      <a>紀伊国書店</a>
       <a>トップカルチャー</a>
    </div>
  </div>

 

<%= javascript_include_tag "application.js" %>
</body>
</html>